@use 'reset'; 
@use 'footer';
input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
  }
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@mixin flex-mobile { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
@mixin flex-desktop { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
@mixin centre-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
$border-radius: 25px;
$wrapper-padding: 30px;
$font: 'overpass', sans-serif;
$central-text: center;


body, header, footer { 
    margin: 20px 30px;
}

body { 
    font-family: $font;
    font-weight: 400; 
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 8%);
    @include flex-mobile;
    height: 100svh;
}

.container { 
    background-color: hsl(213, 19%, 18%);
    border-radius: $border-radius;
    padding: $wrapper-padding;
    width: 22em;
    height: 22em;
    // box-shadow: inset -5px -10px 71px 13px rgba(21, 25, 31, 0.57);
    // box-shadow: inset -205px -55px 54px 11px rgba(21, 25, 31, 0.57);
    // box-shadow: inset 5px -45px 68px 17px rgba(21, 25, 31, 0.57);
    // box-shadow: inset -125px -80px 99px -23px rgba(21, 25, 31, 0.57);
    box-shadow: inset 0px -30px 23px 2px #121417;
    display: none; // temporary 
}

.star-icon { 
    border: solid hsl(213, 19%, 18%); 
    border-radius: 50%;
    padding: 8px;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 108px 100px rgba(21, 25, 31, 0.57);
    margin-bottom: 20px;
}

.title { 
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paragraph { 
    font-size: 0.8em;
    line-height: 160%;
}

.form { 

    margin: 20px 0;

    input[type="radio"] { // initially had this set to display: none until focus states 
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }

    input[type="radio"]:checked + label {
        background-color: hsl(0, 0%, 100%);
        color: hsl(213, 19%, 18%);
        transition: 0.5s;
        border: solid hsl(213, 19%, 18%);
    }

    input[type="radio"]:focus-visible + label { 
        outline: solid hsl(25, 97%, 53%) 5px;
        outline-offset: 2px; 
    }

    .button-container { 
        display: flex;
        justify-content: center;
        width: auto;
    }

    label.rating { 
        @include centre-button-text;
        margin: 0 10px;
        border: solid hsl(213, 19%, 18%); 
        background: hsl(213, 19%, 18%);
        border-radius: 50%; 
        width: 20px;
        height: 20px;
        box-shadow: 0px -20px 81px 11px rgba(21, 25, 31, 0.57);
        font-size: 0.8em;
        padding: 20px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        z-index: 10; // Much easier than last time 
    }

    label.rating:hover { 
        background-color: hsl(25, 97%, 53%);
        transition: 0.2s;
        color: hsl(213, 19%, 18%);
        // why does this work if it should be on input as the others? 
    }

    .submit { 
        background-color: hsl(25, 97%, 53%);
        font-weight: 700; 
        border: solid hsl(25, 97%, 53%) 1px;
        border-radius: 20px; 
        padding: 10px;
        text-transform: uppercase;
        font-family: $font;
        letter-spacing: 10%;
        width: 100%;
        margin-top: 30px;
        font-size: 0.75em;
        cursor: pointer;
        box-shadow: 0px 0px 44px 60px rgba(21, 25, 31, 0.57);
    }

    .submit:hover { 
        background-color: hsl(0, 0%, 100%);
        border: solid hsl(0, 0%, 100%) 1px;
        transition: 0.2s;
    }

    .submit:focus-visible { 
        outline: solid hsl(0, 0%, 100%) 5px;
    }
}

// THANK YOU STATE 

.thank-you {
    // @include flex-mobile; do I need this? 
    // display: none; // default for thank-you state
    display: block;
    background-color: hsl(213, 19%, 18%);
    border-radius: $border-radius;
    padding: $wrapper-padding;
    width: 23em;
    height: 23em;
    text-align: $central-text;
    // add box-shadow 
}

.thank-you-illustration { 
    display: flex; 
    justify-content: center;
    margin-bottom: 15px;
}

.you-selected { 
    color:hsl(25, 97%, 53%); 
    font-weight: 400;
    background-color: hsl(217, 12%, 63%, 20%); // gradient for transparency
    border-radius: $border-radius;
    padding: 5px;
    font-size: 0.8em;
    margin: 0 65px;
}


.thank-you-title { 
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
}

.thank-you-p { 
    font-size: 0.8em; 
    line-height: 160%;
    margin: 0 10px;
}

.please-submit { 
    display: none; // default
}

// Could I contain these styles nested inside .thank-you class? 

// Next is style the thank-you page 