@use 'reset'; 
@use 'footer';
input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
  }
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@mixin flex-mobile { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
@mixin flex-desktop { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
$border-radius: 16px;
$wrapper-padding: 20px;
$font: 'overpass', sans-serif;
$central-text: center;

body, header, footer { 
    margin: 20px 30px;
}

body { 
    font-family: $font;
    font-weight: 400; 
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 8%);
    @include flex-mobile;
    height: 100svh;
}

.container { 
    background-color: hsl(213, 19%, 18%);
    // background: linear-gradient(#252d37 50%);
    border-radius: $border-radius;
    padding: $wrapper-padding;
    min-width: 10em;
    padding: 40px 30px;
    // there's a gradient - it's darker on the bottom 
    // mix-blend-mode: screen;
}

.star-icon { 
    border: solid hsl(213, 19%, 18%); 
    border-radius: $border-radius;
    // padding: 10px;
    width: 15px;
}

.title { 
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.4em;
}

.paragraph { 
    font-size: 0.8em;
    line-height: 160%;
}

.form { 

    label.rating { 
        // background-color: hsl(213, 19%, 18%);
        color: hsl(217, 12%, 63%);
        border: solid hsl(0, 0%, 97%) 1px;
        border-radius: 50px;
        padding: 10px;
        font-weight: 700;
        // font-family: $font;
    }

    .submit { 
        background-color: hsl(25, 97%, 53%);
        font-weight: 700; 
        border: solid hsl(25, 97%, 53%) 1px;
        border-radius: 20px; 
        padding: 20px;
        color:hsl(213, 19%, 18%);
        text-transform: uppercase;
        font-family: $font;
        letter-spacing: 10%;
        width: 100%;
    }
}

.thank-you { 
    display: none; // default display none for thank-you state // this is affecting your JS - see Copilot response
}

.thank-you-title { 
    color: hsl(0, 0%, 100%);
    text-align: $central-text;
}

.thank-you-p { 
    font-size: 0.8em; 
    line-height: 160%;
}

.you-selected { 
    color:hsl(25, 97%, 53%); 
    font-weight: 400;
    background-color: hsl(217, 12%, 63%, 20%); // gradient for transparency
    border-radius: $border-radius;
    // padding 
    font-size: 0.8em;
}
