@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
a:link {
  color: inherit; /* no blue default link color */
  text-decoration: none;
}

a:visited {
  color: inherit; /* no purple visited links */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
}

body, header, footer {
  margin: 20px 30px;
}

body {
  font-family: "overpass", sans-serif;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100svh;
}

.container {
  background-color: hsl(213, 19%, 18%);
  border-radius: 25px;
  padding: 30px;
  width: 22em;
  height: 22em;
  box-shadow: inset 0px -30px 23px 2px #121417;
  display: none;
}

.star-icon {
  border: solid hsl(213, 19%, 18%);
  border-radius: 50%;
  padding: 8px;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 108px 100px rgba(21, 25, 31, 0.57);
  margin-bottom: 20px;
}

.title {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 0.8em;
  line-height: 160%;
}

.form {
  margin: 20px 0;
}
.form input[type=radio] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.form input[type=radio]:checked + label {
  background-color: hsl(0, 0%, 100%);
  color: hsl(213, 19%, 18%);
  transition: 0.5s;
  border: solid hsl(213, 19%, 18%);
}
.form input[type=radio]:focus-visible + label {
  outline: solid hsl(25, 97%, 53%) 5px;
  outline-offset: 2px;
}
.form .button-container {
  display: flex;
  justify-content: center;
  width: auto;
}
.form label.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border: solid hsl(213, 19%, 18%);
  background: hsl(213, 19%, 18%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0px -20px 81px 11px rgba(21, 25, 31, 0.57);
  font-size: 0.8em;
  padding: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.form label.rating:hover {
  background-color: hsl(25, 97%, 53%);
  transition: 0.2s;
  color: hsl(213, 19%, 18%);
}
.form .submit {
  background-color: hsl(25, 97%, 53%);
  font-weight: 700;
  border: solid hsl(25, 97%, 53%) 1px;
  border-radius: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-family: "overpass", sans-serif;
  letter-spacing: 10%;
  width: 100%;
  margin-top: 30px;
  font-size: 0.75em;
  cursor: pointer;
  box-shadow: 0px 0px 44px 60px rgba(21, 25, 31, 0.57);
}
.form .submit:hover {
  background-color: hsl(0, 0%, 100%);
  border: solid hsl(0, 0%, 100%) 1px;
  transition: 0.2s;
}
.form .submit:focus-visible {
  outline: solid hsl(0, 0%, 100%) 5px;
}

.thank-you {
  display: block;
  background-color: hsl(213, 19%, 18%);
  border-radius: 25px;
  padding: 30px;
  width: 23em;
  height: 23em;
  text-align: center;
}

.thank-you-illustration {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.you-selected {
  color: hsl(25, 97%, 53%);
  font-weight: 400;
  background-color: hsla(217, 12%, 63%, 0.2);
  border-radius: 25px;
  padding: 5px;
  font-size: 0.8em;
  margin: 0 65px;
}

.thank-you-title {
  color: hsl(0, 0%, 100%);
  margin-top: 30px;
}

.thank-you-p {
  font-size: 0.8em;
  line-height: 160%;
  margin: 0 10px;
}

.please-submit {
  display: none;
}/*# sourceMappingURL=input.css.map */